<div>
  質問詳細ページ
</div>

<div>
    <div>
      <div>
        <%= @question.question_title %>
      </div>
      <div>
        <%= @question.question_content %>
      </div>
      <div>
        <%= @question.language.name %>
        <%= @question.created_at.to_s(:datetime_jp) %>
      </div>
    </div>
</div>

<div>
  <div>
    <% if user_signed_in? %>
      <%= form_with(model: [@question, @answer], local: true) do |form| %>
        <%= render 'shared/error_messages', model: form.object %>
        <%= form.text_area :answer_content, placeholder: "回答する", rows: "3" %>
        <%= form.submit "SEND" %>
        <% end %>
    <% end %>
  </div>
</div>