<div>
  プロフィールページ
</div>

<div>
    <div>
      <div>
        <%= @profile.nickname %>
      </div>
      <div>
        <%= image_tag @profile.profile_image if @profile.profile_image.attached? %>
      </div>
      <div>
        <%= @profile.introduction %>
      </div>
    </div>
</div>

<div>
  <% @questions.each do |q| %>
    <div>
      <div>
        <%= link_to q.question_title, question_path(q.id) %>
      </div>
      <div>
        <%= q.language.name %>
        <%= q.created_at.to_s(:datetime_jp) %>
      </div>
    </div>
  <% end %>
</div>